<div class="row well robots">
    <h1 id="greeting" class="robots col-md-offset-1">
      Welcome to the Golem Yard!</h1>
</div>

<div class="dashboard row well robots">
  <div class ="row">
    <div class="col-md-offset-1 col-md-4">
      <% unless @robot.nil? %>
    <h2>Featured Robot</h2>

    <p><%= @robot.name %></p>
    <p>Department: <%= @robot.department %></p>
    <p><img src="<%= @robot.avatar %>"><p>
    <% end %>
  </div>
  <div class="col-md-7">
    <h2>About Us</h2>
    <p>Golem Yard is a small nonprofit organization devoted to to rehabilitation
    of robots that have otherwise been discarded by society as "dangerous",
    "high-risk", or "deviant". Bots at the Golem Yard enjoy many privileges in
    exchange for their work hours, including shares of unguents, buy-in to the
    Yard's mechanical exchange, and AI Continuing Education experiences.</p>

    <p>Your donation to the Golem Yard is tax-deductible and includes postcards
      from the robot you sponsor.

  </div>
</div>
<div class="col-md-offset-5 rrobots">
    <p><i class="glyphicon glyphicon-star-empty"></i>
    <i class="glyphicon glyphicon-star-empty"></i>
    <i class="glyphicon glyphicon-star-empty"></i>
    <i class="glyphicon glyphicon-star-empty"></i>
    <i class="glyphicon glyphicon-star-empty"></i></p>
</div>
