<div class="row well robots">
    <h1 id="greeting" class="robots">
      Welcome to the Golem Yard!</h1>
</div>

<div class="row well robots dashboard">
  <div class="col-offset-2 col-md-4">
    <h2>Featured Robot<h2>
    <p><img src="<%= @robot.avatar %>"><p>
    <h3><%= @robot.name %></h3>
    <p>Department: <%= @robot.department %></p>
  </div>
  <div class="col-md-6">
    <h2>About Us</h2>
    <p>Golem Yard is a small nonprofit organization devoted to to rehabilitation
    of robots that have otherwise been discarded by society as "dangerous",
    "high-risk", or "deviant". Bots at the Golem Yard enjoy many privileges in
    exchange for their work hours, including shares of unguents, buy-in to the
    Yard's mechanical exchange, and AI Continuing Education experiences.</p>

    <p>Your donation to the Golem Yard is tax-deductible and includes postcards
      from the robot you sponsor.
      <i class="glyphicon glyphicon-star-empty"></i></p>
  </div>
</div>
