<h1>Add a new robot to the yard</h1>
</div>
</div>

<form action="/robots" method="post">
<p>Name: <input type='text' name = 'robot[name]'/></p>
<p>City: <input type='text' name = 'robot[city]'/></p>
<p>State: <input type='text' name = 'robot[state]'/></p>
<p>Birthday: <input type='text' name = 'robot[birthdate]'/></p>
<p>Date Hired: <input type='text' name = 'robot[date_hired]'/></p>
<p>Department: <input type='text' name = 'robot[department]'/></p>
<p><input type='submit' value="Submit"/><p>
</form>
