<h1>Add a new robot to the yard</h1>
</div>
</div>

<form action="/robots" method="post">
<input type='text' name = 'robot[name]' value="Name"/><br/>
<textarea name='robot[city]' value="City"></textarea>
<input type='submit' value="Submit"/>
</form>
