<div class="row well robots">
  <h1 class="robots col-md-offset-1" id="greeting">Add a New Robot to Golem Yard</h1>
</div>
<div class="row well robots dashboard">
  <div class="col-md-offset-1">
  <form action="/robots" method="post">
  <table>
    <tr><td>Name:</td>
    <td><input type='text' name = 'robot[name]'/></td></tr>
    <tr><td>City:</td>
    <td><input type='text' name = 'robot[city]'/></td></tr>
    <tr><td>Department:</td>
    <td><input type='text' name = 'robot[department]'/></td></tr>
  </table>
    <input class="btn btn-primary" type='submit' value="Submit"/><p>
      </form>
    </div>
</div>
