<div>
  <h1 id="robot"><%= @robot.name %></h1>
  <p><%= @robot.city %></p>
  <A HREF ="/robots/<%= @robot.id %>/edit">Edit</A>
  <form action="/robots/<%= @robot.id %>" method="post">
    <input type="hidden"  name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
